<script>
  import'@ui/carousel/lk-carousel';
</script>

<div style="border: 1px solid #eee; border-radius: 8px; overflow: hidden; margin-top: 1rem; height: 200px;">
  <lk-carousel {...Astro.props}>
    <slot />
  </lk-carousel>
</div>
